.Text, .Text p {
	font-size: rem-calc(14);
	@include breakpoint('medium') {
		font-size: rem-calc(21);
	}
	line-height: $lineHeight-normal;
	padding-bottom: $lineHeight-normal*$u;
}
.Text--small {
	font-size: rem-calc(12);
	@include breakpoint('medium') {
		font-size: rem-calc(14);
	}
	line-height: $lineHeight-normal;
}

.Heading--large {
	font-family: $fontFamily-alt;
	font-size: rem-calc(32);
	font-weight: 700;
	@include breakpoint('medium') {
		font-size: rem-calc(60);
	}
	text-align: center;
	text-transform: uppercase;
	line-height: $lineHeight-tight;
}

.Heading {
	font-family: $fontFamily-alt;
	font-size: rem-calc(18);
	font-weight: 700;
	@include breakpoint('medium') {
		font-size: rem-calc(32);
	}
	text-align: center;
	text-transform: uppercase;
	line-height: $lineHeight-tight;
}

.Heading--small {
	font-family: $fontFamily-alt;
	font-weight: 700;
	font-size: rem-calc(18);
	@include breakpoint('medium') {
		font-size: rem-calc(24);
	}
	line-height: $lineHeight-tight;
}


.Quote {
	font-style: italic;
	font-size: rem-calc(18);
	@include breakpoint('medium') {
		font-size: rem-calc(30);
	}
	text-align: center;
}

.Asterisks {
	font-size: rem-calc(30);
	@include breakpoint('medium') {
		font-size: rem-calc(48);
	}
	font-weight: 700;
	text-align: center;
}
