.Mosaic {
    max-width: inherit !important;
    @include flex-grid-row(collapse);
}
.Mosaic-item {
    position: relative;
    @include flex-grid-column(12, 0);
    @media (min-width: 512px) {
        @include flex-grid-column(6, 0);
    }
    @media (min-width: 1024px) {
        @include flex-grid-column(3, 0);
    }
}
.Mosaic-item img {
    width: 100%;
}
.Mosaic-item figcaption {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    color: white;
    font-size: rem-calc(14);
    padding: $u;
    @media (min-width: 360px) and (max-width: 511px), (min-width: 720px) and (max-width: 1023px), (min-width: 1400px) {
        font-size: rem-calc(18);
        padding: 1.5*$u 2*$u;
    }
}
.Mosaic-item:nth-child(3n) figcaption {
    background-color: transparentize($red, 0.2);
}
.Mosaic-item:nth-child(3n+1) figcaption {
    background-color: transparentize($green, 0.2);
}
.Mosaic-item:nth-child(3n+2) figcaption {
    background-color: transparentize($blue, 0.2);
}
.Mosaic-item:hover figcaption {
    display: block;
}
