.Trailer-play {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background: white;
    cursor: pointer;

    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    @include breakpoint('medium') {
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        width: 150px;
        height: 150px;
    }
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;

        top: calc(50% - 15px);
        left: calc(50% - 10px);
        border-top: 15px solid transparent;
        border-left: 26px solid $red;
        border-bottom: 15px solid transparent;
        @include breakpoint('medium') {
            top: calc(50% - 40px);
            left: calc(50% - 28px);
            border-top: 40px solid transparent;
            border-left: 70px solid $red;
            border-bottom: 40px solid transparent;
        }
    }
}
