.Trailer-play {
    position: absolute;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px 0 0px 22px;
    font-size: 96px;
    color: $red;
    text-align: center;
    background: white;
    text-align: center;
    cursor: pointer;
}
