$gray-bg: #dadada;
$gray-bg--light: #f7f7f7;
$gray-line: #ccc;

$red: #d2232a;
$blue: #1f5c86;
$green: #41ad49;

$color-primary: $red;
$color-primaryAlt: $blue;



.color-white {
	color: white !important;
}
.color-primary {
	color: $color-primary !important;
}
.color-primaryAlt {
	color: $color-primaryAlt !important;
}

.backgroundColor-primary {
	background-color: $color-primary !important;
}
.backgroundColor-primaryAlt {
	background-color: $color-primaryAlt !important;
}

.backgroundColor-white {
	background-color: white !important;
}
.borderColor-white {
	border-color: white !important;
}

.backgroundColor-gray {
	background-color: $gray-bg !important;
}
.backgroundColor-lightGray {
	background-color: $gray-bg--light !important;
}
.borderColor-gray {
	border-color: $gray-bg !important;
}
